# MacOS
.DS_Store

# Java / Maven
target/
*.class
.mvn/
mvnw
mvnw.cmd
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
*.zip
*.tar.gz

# Node / Angular
node_modules/
dist/
.angular/
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDEs
.idea/
.vscode/
*.iml

# Archives
Archive/
Archive 2/
